*::before, *::after {
	box-sizing: border-box;
}
html {
	color: #111;
	font-family: "Lucida Grande",Helvetica,Arial,sans-serif !important;
	font-size: 15px;
	line-height: 1.5;
}
h2 {
	color: #4e4e4e;
	margin-top: 0;
}
#container {
	margin: 70px auto 0;
	width: 460px;
}
#modx-login-logo {
	margin: 0 0 12px 24px;
}
#modx-login-logo img {
	width: 180px;
}
#modx-login-panel {
	background: #fff none repeat scroll 0 0;
	border: 0 none;
	border-radius: 0;
	box-shadow: 0 0 7px 1px #d9d9d9;
	padding: 26px;
}
.panel-body {
	border: 0 none;
	border-radius: 3px;
}
.login-form-item {
	margin: 0;
}
.form-item {
	display: block;
	margin: 0;
	outline: 0 none;
}
.form-action {
	margin-top: 20px;
}
.form-text {
	background-color: #fbfbfb;
	background-image: none;
	border: 1px solid #e4e4e4;
	border-radius: 3px;
	height: 25px;
	position: relative;
	transition: border-color 0.25s ease 0s;
}
.login-form-element .form-text {
	background: #f2f2f2 none repeat scroll 0 0;
	border-color: #e9e9e9;
	line-height: 25px;
	padding: 5px;
	width: 400px;
}
button {
	background-color: #fff;
	background-repeat: no-repeat;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 0 1px #e4e4e4;
	color: #555;
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	padding: 10px 15px;
	position: relative;
	text-decoration: none;
}
button.primary-button{
	background-color: #32ab9a;
	box-shadow: none;
	color: #fff;
}
#errormsg {
	background-color: #f2dede;
	margin-bottom: 10px;
	padding: 6px;
	width: 400px;
}
#errormsg:empty {
	display: none;
}