/******************* Theme ********************/
#modx-leftbar .x-tab-panel-noborder {margin: 0}
.dark-theme #modx-navbar {
	background-color: #272e3c !important;
	background-image: none;
	box-shadow: none;
}
.dark-theme #modx-leftbar {background-color: #202735 !important;}
/*tabs*/
.dark-theme #modx-leftbar .x-tab-panel-header {background: #202735 !important;}
.dark-theme #modx-leftbar-tabpanel .x-tab-strip li {color: #a0a0a0;}
.dark-theme #modx-leftbar-tabpanel .x-tab-strip li:hover {color: #dfdfdf;}

.dark-theme #modx-leftbar-tabpanel .x-tab-strip li.x-tab-strip-active {
	background-color: #323e4c; /*#219a8f*/
	box-shadow: 0 -5px 0 #3A9ABA, -1px 0 0 transparent, 0 1px 2px #555, 0 0 7px #151515;
	color: #fff;
}
.dark-theme #modx-leftbar-tabpanel .x-tab-strip li.x-tab-strip-active::before {background: transparent;}
/*toolbar*/
.dark-theme #modx-leftbar-tabpanel > .x-tab-panel-bwrap > .x-tab-panel-body {border-radius: 0;}
.dark-theme #modx-leftbar-tabpanel .x-toolbar-cell .x-btn-noicon,
.dark-theme #modx-leftbar .x-toolbar-ct .x-toolbar-right #emptifier.x-btn {
	background-color: transparent;
	color: #FFF !important;
	margin-right: 10px;
	opacity: 0.6;
}
.dark-theme #modx-leftbar-tabpanel .x-toolbar-cell .x-btn-noicon:hover,
.dark-theme #modx-leftbar .x-toolbar-ct .x-toolbar-right #emptifier.x-btn:hover {
	opacity: 0.9;
}
.dark-theme #modx-resource-tree-tbar,
.dark-theme #modx-tree-element .x-panel-tbar {
	background: #323e4c !important; /*26313E*/
}
.dark-theme #modx-resource-tree-tbar .x-toolbar-left .x-btn:first-child,
.dark-theme #modx-tree-element .x-toolbar-left .x-btn:first-child {
	margin-left: 5px !important;
}
/*tree*/
.dark-theme #modx-leftbar .x-tab-panel-bwrap .x-tab-panel-body-noborder {
	background-color: #202735 !important;
	border-radius: 0;
}
.dark-theme #modx-leftbar .x-tree .x-panel-body {
	background-color: #202735;
	border-radius: 0;
}
/*tree nodes*/
.dark-theme #modx-leftbar-tabpanel .x-tree-node .x-tree-node-el,
.dark-theme #modx-leftbar-tabpanel .x-tree-node .x-tree-node-el span,
.dark-theme #modx-leftbar-tabpanel .x-tree-node .x-tree-node-el .icon {
	background-color: #202735;
	color: #bababa !important;
}
.dark-theme #modx-leftbar-tabpanel .x-tree-node .x-tree-node-el.x-tree-node-over,
.dark-theme #modx-leftbar-tabpanel .x-tree-node .x-tree-node-el.x-tree-node-over span {
	background-color: #111e2d;
}
/*favorites*/
.dark-theme #modx-leftbar-tabpanel .x-tree-node .x-element-favorite > a span {
	color: #59E68F  !important;
}
/*root*/
.dark-theme #modx-leftbar-tabpanel .tree-pseudoroot-node.x-tree-node-el,
.dark-theme #modx-leftbar-tabpanel .tree-pseudoroot-node.x-tree-node-el span,
.dark-theme #modx-leftbar-tabpanel .tree-pseudoroot-node.x-tree-node-el .icon,
.dark-theme #modx-leftbar-tabpanel .tree-pseudoroot-node.x-tree-node-el.x-tree-node-expanded,
.dark-theme #modx-leftbar-tabpanel .tree-pseudoroot-node.x-tree-node-el.x-tree-node-expanded span,
.dark-theme #modx-leftbar-tabpanel .tree-pseudoroot-node.x-tree-node-el.x-tree-node-expanded .icon {
	background-color: #111e2d;
}
.dark-theme #modx-leftbar-tabpanel .tree-pseudoroot-node.x-tree-node-el.x-tree-node-over,
.dark-theme #modx-leftbar-tabpanel .tree-pseudoroot-node.x-tree-node-el.x-tree-node-over span {
	background-color: #111222;
}
.dark-theme .tree-pseudoroot-node.x-tree-node-el.ec-over {
	background-color: transparent;
}
.dark-theme #modx-leftbar-tabpanel .x-tree-arrows .x-tree-elbow-plus:hover,
.dark-theme #modx-leftbar-tabpanel .x-tree-arrows .x-tree-elbow-minus:hover,
.dark-theme #modx-leftbar-tabpanel .x-tree-arrows .x-tree-elbow-end-plus:hover,
.dark-theme #modx-leftbar-tabpanel .x-tree-arrows .x-tree-elbow-end-minus:hover {
	background-color: #404952;
}
.dark-theme #modx-leftbar-tabpanel .tree-pseudoroot-node.x-tree-node-el .modx-tree-node-tool-ct {
	right: 16px;
}
.dark-theme #modx-leftbar-tabpanel .tree-pseudoroot-node.x-tree-node-el .modx-tree-node-tool-ct,
.dark-theme #modx-leftbar-tabpanel .tree-pseudoroot-node.x-tree-node-el .modx-tree-node-tool-ct .x-btn {
	color: #a0a0a0 !important;
	opacity: 0.8;
}
.dark-theme #modx-leftbar-tabpanel .tree-pseudoroot-node.x-tree-node-el .modx-tree-node-tool-ct .x-btn-over {
	color: #FFF !important;
}
.dark-theme #modx-leftbar-tabpanel .ext-el-mask {background-color: #111; }